<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body th:with="user=${user}">
<div th:replace="layout/navbar :: navbar"></div>

<div class="container text-center">

    <div th:if="${invoice.number != null}">
        <h3>Edit invoice</h3>
    </div>
    <div th:unless="${invoice.number != null}">
        <h3>Add New invoice</h3>
    </div>
    <hr/>

    <form th:action="@{/saveInvoice}" th:object="${invoice}" method="POST">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <h4>All errors:</h4>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <input type="text" th:field="*{series}" th:errorclass="is-invalid" class="form-control col-4 mb-4 "
               placeholder="Enter invoice series"/>

        <input type="number" min="0" th:field="*{number}" th:errorclass="is-invalid" class="form-control col-4 mb-4"
               placeholder="Enter invoice number"/>


        <input type="date" th:field="*{issueDate}"
               th:errorclass="is-invalid"
               class="form-control col-4 mb-4"/>

        <input type="date" th:field="*{paymentDeadline}"
               th:errorclass="is-invalid"
               class="form-control col-4 mb-4"/>


        <input type="text" th:field="*{delegate}" th:errorclass="is-invalid" class="form-control col-4 mb-4"
               placeholder="Enter delegate"/>
        <input type="number" th:field="*{tva}" th:errorclass="is-invalid" class="form-control col-4 mb-4"
               placeholder="Enter tva"/>

        <select th:field="*{invoiceExchange}" th:errorclass="is-invalid" class="form-control col-4 mb-4"
                id="dropDownListExchange">
            <option value="0">select exchange currency</option>
            <option th:each="exchange : ${exchanges}" th:value="${exchange.id}"
                    th:text="${exchange.currency}"></option>
        </select>

        <select th:if="${!products.isEmpty()}" th:name="invoiceProductId"
                class="form-control col-4 mb-4"
                id="dropDownListProducts">
            <option value="0">select product</option>
            <option th:each="product : ${products}" th:value="${product.id}"
                    th:text="${product.name}"></option>
        </select>


        <input type="number" min="0" th:name="amount" class="form-control col-4 mb-4"
               placeholder="Enter amount of product"/>

        <input type="text" th:name="unit" class="form-control col-4 mb-4"
               placeholder="Enter unit of measure"/>

        <select th:if="${!clients.isEmpty()}" th:errorclass="is-invalid" th:field="*{invoiceClient}"
                class="form-control col-4 mb-4"
                id="dropDownListClient">
            <option value="0">select client</option>
            <option th:each="client : ${clients}" th:value="${client.id}"
                    th:text="${client.name}"></option>
        </select>

        <div th:if="${user.company.clients.isEmpty()}" class="mb-4">
            <a
                    th:href="@{/addClientForm(userName=${session.userName.toString()})}"
                    class="btn btn-info m-0 text-reset"
                    href="#"
                    role="button"
                    data-ripple-color="primary"
            >Add Client<i class="fa fa-user-o ml-3" aria-hidden="true"></i>
            </a>
        </div>

        <div th:if="${user.company.products.isEmpty()}" class="mb-4">
            <a
                    th:href="@{/addProductForm(userName=${session.userName.toString()})}"
                    class="btn btn-info m-0 text-reset"
                    href="#"
                    role="button"
                    data-ripple-color="primary"
            >Add Product<i class="fa fa-shopping-basket ml-3" aria-hidden="true"></i>
            </a>
        </div>

        <button type="submit" class="btn btn-primary col-2">Save Invoice</button>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{invoiceCompany}"/>

    </form>
    <hr/>
    <a th:href="@{/invoices(userName=${user.userName})}" class="pb-4">Back to list</a>
</div>

</body>
</html>