<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>
<!-- Creați un canvas unde va fi desenat graficul -->

<div class="container">
    <canvas id="myChart"></canvas>
    <span id="data" th:text="${data}" style="display: none;"></span>
    <a th:href="@{/home}" class="pb-4">Back home</a>
</div>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    const data = JSON.parse(document.getElementById('data').innerHTML)

    const quarters = ["Q1", "Q2", "Q3", "Q4"];


    for (let i = 0; i < quarters.length; i++) {
        let found = false;
        let index = 0;
        for (let j = 0; j < data.length; j++) {
            if (data[j][1] === quarters[i]) {
                found = true;
                break;
            }
            index = j;
        }
        if (!found) {
            data.push([2, quarters[i], 0, data[index][3]]);
        }
    }

    function compare(a, b) {
        return quarters.indexOf(a[1]) - quarters.indexOf(b[1]);
    }

    // Sortează array-ul folosind funcția comparator
    data.sort(compare);
    //
    const labels = [];
    const values = [];
    data.forEach(element => {
        labels.push(element[1] + " Vanzari cumulate = " + element[3]);
        values.push(element[2]);
    });


    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Vânzări',
                data: values,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
</html>