<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/template" lang="en">
<head th:replace="layout/head :: head"></head>

<body th:with="user=${user}">
<div th:replace="layout/navbar :: navbar"></div>

<div th:if="${!clients.isEmpty()}" class="container productList">

    <div class="row">

        <div th:each="client : ${clients}" class="col-xl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-address-book-o fa-lg me-3 fa-fw" style="width: 45px; height: 45px"></i>
                            <div class="ms-3">
                                <p th:text="${client.name}" class="fw-bold mb-1 "></p>
                                <p th:text="'Bank Account: ' + ${client.bankAccount}"
                                   class="text-muted mb-0 mr-4 "></p>

                                <p th:text="'CUI : ' + ${client.cui}" class="fw-bold mb-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
                >
                    <a
                            th:href="@{/showClientUpdateForm(clientId=${client.id})}"
                            class="btn btn-link m-0 text-reset"
                            href="#"
                            role="button"
                            data-ripple-color="primary"
                    >Edit<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a th:if="${client.getClientInvoices().isEmpty()}"
                       th:href="@{/deleteClient(clientId=${client.id})}"
                       class="btn btn-link m-0 text-reset"
                       href="#"
                       role="button"
                       data-ripple-color="primary"
                    >Delete<i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${clients.isEmpty() and user.company != null}" class="centered">
    <a
            th:href="@{/addClientForm(userName=${session.userName.toString()})}"
            class="btn btn-info m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
    >Add Client<i class="fa fa-user-o ml-3" aria-hidden="true"></i>
    </a>
</div>

<div th:unless="${user.company}" class="centered">
    <a
            th:href="@{/addCompanyForm(userId=${user.id})}"
            class="btn btn-info m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
    >Add Company<i class="fa fa-university ml-3" aria-hidden="true"></i>
    </a>
</div>
</body>
</html>