<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/template" lang="en">
<head th:replace="layout/head :: head"></head>

<body th:with="user=${user}">
<div th:replace="layout/navbar :: navbar"></div>

<div class="container">

    <div th:if="${!invoices.isEmpty()}">

        <div class="row">

            <div th:each="invoice : ${invoices}" class="col-md-4 " id="ads">


                <div class="card rounded">
                    <div class="card-image">
                        <span th:text="'Invoice: Series ' + ${invoice.series}"
                              class="card-notify-badge"></span>
                        <span th:text="'Nr. ' + ${invoice.number}"
                              class="card-notify-year"></span>
                        <img class="img-fluid"
                             src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
                             alt="Alternate Text"/>
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span th:text="'TVA = ' + ${invoice.tva} + '%'" class="card-detail-badge">Used</span>
                        <span th:text="'Price : ' + ${invoice.getPrice()}"
                              class="card-detail-badge"></span>
                        <span th:text="'Total price: ' + ${invoice.getPriceWithTVA()}"
                              class="card-detail-badge"></span>

                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">

                            <p th:text="'Issue date: ' + ${invoice.issueDate.toLocaleString().substring(0,12)}"
                               class="fw-bold mb-0"></p>
                            <p th:text="'Payment deadline: '+${invoice.paymentDeadline.toLocaleString().substring(0,12)}"
                               class="fw-bold mb-0 mr-2"></p>

                            <p th:text="' Days left: ' + ${invoice.paymentDeadline.getDate() - invoice.issueDate.getDate()}"
                               class=" mb-0"></p>

                            <p th:text="'Delegate : ' + ${invoice.delegate}" class="fw-bold mb-0"></p>

                            <span th:text="'TVA price: ' + ${invoice.getTVAPrice()}"
                                  class="badge rounded-pill badge-success"></span>
                            <span th:text="'Currency : ' + ${invoice.invoiceExchange.currency} +' rates: '+ ${invoice.invoiceExchange.rates}"
                                  class="badge rounded-pill badge-success"></span>

                        </div>
                        <div class="row">
                            <a
                                    th:href="@{/showInvoiceUpdateForm(invoiceId=${invoice.id})}"
                                    class="ad-btn"
                                    role="button"
                                    data-ripple-color="primary"
                            >Edit<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a
                                    th:href="@{/invoiceProducts(invoiceId=${invoice.id})}"
                                    class="ad-btn"
                                    role="button"
                            >See products!</a>
                            <a
                                    th:text="'Client: ' + ${invoice.invoiceClient.name}"
                                    th:href="@{/clients(userName=${user.userName})}"
                                    class="ad-btn"
                                    role="button"
                                    data-ripple-color="primary"
                            ></a>
                        </div>
                    </div>
                    <div
                            class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
                    >

                        <a
                                th:href="@{/deleteInvoice(invoiceId=${invoice.id})}"
                                class="btn btn-link m-0 text-reset"
                                href="#"
                                role="button"
                                data-ripple-color="primary"
                        >Delete<i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div th:if="${invoices.isEmpty() and user.company != null}" class="centered">
    <a
            th:href="@{/addInvoiceForm(userId=${user.id})}"
            class="btn btn-info m-0 text-reset"
            role="button"
            data-ripple-color="primary"
    >Add Invoice<i class="fa fa-shopping-basket ml-3" aria-hidden="true"></i>
    </a>
</div>

<div th:unless="${user.company}" class="centered">
    <a
            th:href="@{/addCompanyForm(userId=${user.id})}"
            class="btn btn-info m-0 text-reset"
            role="button"
            data-ripple-color="primary"
    >Add Company<i class="fa fa-university ml-3" aria-hidden="true"></i>
    </a>
</div>

</body>
</html>