/*p {*/
/*    font-family: sans-serif;*/
/*}*/

.welcome {
    color: antiquewhite;
}

/*body {*/
/*    background-image: url("https://www.zoho.com/invoice/images/invoice-templates/free-online-invoice-templates-image-1x.png");*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*}*/

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("https://www.zoho.com/invoice/images/invoice-templates/free-online-invoice-templates-image-1x.png");

    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navigation {
    /* fixed keyword is fine too */
    position: sticky;
    top: 0;
    z-index: 100;
    /* z-index works pretty much like a layer:
    the higher the z-index value, the greater
    it will allow the navigation tag to stay on top
    of other tags */
}

.productList {
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}